<% title "Welcome" %>

<div id="message"><%= flash[:notice] %></div>
<div id="user_nav">
	<% if current_user %>
  Welcome <%= current_user.name %> | <%= link_to "Logout", auth_logout_path %>
  <% else %>
  Sign in with <%= link_to "twitter", "/auth/twitter" %> or <%= link_to 'github', '/auth/github' %>
  <% end %>
</div>

<center>
<h1>Welcome</h1>
</center>
